body {
    background-color: black;
    text-align: center;
    position: relative;
    display: flex;
    text-decoration-color: coral;
    color: rgb(149, 226, 240);
}
.card  {
    display: flex ;
    justify-content: space-between;
    border-radius: 2px;
    
}
.cajita {
    border-radius: 2px;
}
.botonMasInfo {
    background-color: rgb(149, 226, 240);
}

.container{
    position: relative;
    display: flex;
    text-align: center;
    margin-left: 20%;

}
.h1{
    text-align: center;
    text-decoration-color: coral;
}